{% extends 'admin.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
        <div class="card">
            <h5 class="card-header">Table: {{ title }}</h5>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered first">
                        <thead>
                        <tr>
                            {% for header in tablesHeader %}
                            <th> {{ header }}</th>
                            {% endfor %}
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in tablesResult %}
                        <tr>
                            {%for value in row.getAllValuesArrays  %}
                                <td>{{ value }}</td>
                            {% endfor %}
                            <td><a href="{{ path('admin_table_edit',{"id":row.getId,"table_name":tableName}) }}" class="btn btn-primary">Edit</a></td>
                        </tr>
                        {%  endfor %}
                        </tbody>
                    </table>
                </div><br>
                <a href="{{ path('admin_table_new',{"table_name":tableName}) }}" class="btn btn-success">Add new</a>
            </div>
        </div>
{% endblock %}
